<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="arthur.dao.answer.AnswerMapper">
	<!-- 回答问题，给出答复内容，答复时间，答复者的id -->
	<insert id="addAnswer"  parameterMap="Answer">
		insert into answer(answerContent,answerTime,answerId) values (#{answerContent},#{answerTime},#{answerId})
	</insert>
	<!-- 根据id查询提问的问题 -->
	<select id="getQuestionByStuId" resultType="Answer">
		select * from answer where id=#{studentId}
	</select>
</mapper>