<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="arthur.dao.user.UserMapper">
	<select id="findByStuName"  resultType="Student">
		select * from student where studentName=#{studentName}
	</select>
	
	<!--学生修改密码-->
	<update id="updatePwd" parameterType="String">
	     update student set studentPwd=#{stuPwd1} where id=#{id}
	</update>
</mapper>