<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="arthur.dao.integral.IntegralMapper">
	<insert id="addIntegral" parameterType="Integer">
		insert into integral(integralNum,giftPoints) values(#{integralNum},#{giftPoints})
	</insert>
	<update id="updateIntegral" parameterType="Integer">
		update integral set giftPoints=#{giftPoints} where studentName=#{studentName}
	</update>
</mapper>