<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="arthur.dao.integral.IntegralMapper">
	<insert id="addIntegral" parameterType="Integral">
		insert into integral(integralNum,giftPoints) i values(#{integralNum},#{giftPoints}) where i.#{studentId}=student.studentId
	</insert>
	<update id="updateIntegral" parameterType="Integral">
		update integral i set i.giftPoints=#{giftPoints} where i.#{studentId}=student.studentId
	</update>
</mapper>