<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="arthur.dao.attendance.AttendanceMapper">
	<insert id="addAttendance" parameterType="Attendance">
		insert into attendance(studentSign) a values(#{studentSign}) where a.#{studentName}=student.studentName
	</insert>
	<update id="updateAttendance" parameterType="Attendance">
		update attendance a set studentOut=#{studentOut} where a.#{studentName}=student.studentName
	</update>
	<select id="findbyStudentNameAndStuClass" resultType="Attendance">
		select * from attendance a inner join student s on a.studentName=s.#{name} and a.class=s.#{stuclass}
	</select>
</mapper>