<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="arthur.dao.reply.ReplyMapper">
	<!-- 添加提问的问题 -->
	<insert id="addReply" parameterType="Integer">
		insert into reply(help,helpTime,helpName) values(#{help},#{helpTime},#{helpName})
	</insert>
	<!-- 根据提问者Id显示他的姓名 -->
	<select id="selectReply" resultType="String">
		select helpName from reply where id=#{studentId}
	</select>
	<!-- 根据回答问题显示回答问题的用户姓名 -->
	<select id="selectReply" resultType="String">
		select studentName,teacherName Time from reply where id=#{studentId}
	</select>
</mapper>