<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="arthur.dao.AnswerMapper">
	<resultMap type="Answer" id="answer">
		<id column="id" property="id"/>
		<result column="questionId" property="questionId"/>
		<result column="answerContent" property="answerContent"/>
		<result column="answerTime" property="answerTime"/>
		<result column="answerId" property="answerId"/>
		<result column="studentId" property="studentId"/>
		<result column="questionContent" property="questionContent"/>
		<result column="questionTime" property="questionTime"/>
		<result column="questionGiveIntegral" property="questionGiveIntegral"/>
		<result column="className" property="className"/>
		<result column="studentName" property="studentName"/>
	</resultMap>
	<insert id="addAnswer" parameterType="Answer">
		insert into answer(questionId,answerContent,answerTime,answerId) 
		values(#{questionId},#{answerContent},#{answerTime},#{answerId})
	</insert>
	<insert id="addQuestion" parameterType="Answer">
		insert into question(studentId,questionContent,questionTime,questionGiveIntegral,answerId)
values(#{studentId},#{questionContent},#{questionTime},#{questionGiveIntegral},#{answerId})
	</insert>
	<select id="findAllById" resultMap="answer">
		select * from answer a,student s,stuclass c where a.answerId=s.id and s.classId=c.id and a.answerId=#{answerId}
	</select>
</mapper>