<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="arthur.dao.fabulous.AttendanceMapper">
	<!-- 根据被点赞学生id点赞,添加点赞时间-->
	<insert id="addFabulousNameAndFabulousTime"  parameterType="Fabulous">
		insert into fabulous(fabulousId,fabulousTime)
		values(#{fabulousId},#{fabulousTime})
	</insert>
</mapper>